*{
  margin: 0;
  padding: 0;
}
.tabmenu{
  border: 1px solid purple;
  width: 50%;
  margin: 2rem auto;
}

.buttons{
  display: flex;
}

.buttons button{
  flex: 1;
  border: 1px solid purple;
  outline: none;
  padding: 8px 0;
}

.active{
  background-color: rgb(56, 1, 56);
  color: #fff;
  transition: .5s;
  font-weight: bold;
}

.tab-content div{
  padding: 15px;
}



.slider {
  position: relative;
}

.slider img{
  width: 100%;
}

.next,.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  background-color: #fff;
  padding: 15px 5px;
  cursor: pointer;
  border-radius: 5px;
}

.next{
  right: 20px;
}

.prev{
  left: 20px;
}

/* img{
  width: 100%;
  height: 300px;
} */




#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0998c8;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}